.body {
    background-color: white;
    }

.firstblock {
    width: 1300px;
    position:inherit;
    border: 1px;    }   

.mainbar {
    background-color: green;
    border-radius: 5px;
    display: flex;
    padding: 40px;
    justify-content: space-between;
    height: 200px;
    }

.main-img {
    position: left;
    size: 100px;
    float: left;
    }

.mainbar-content {
    font-family: 'Courier New', Courier, monospace;
    height: 100px;
    grid-row-gap: .80px;
    margin-left: 15px;
    }

.contact-button {
    /*color: white !important;*/
    background-color: black; 
    width: 100px;
    height: 20px;
    padding: 8px 8px;
    text-align: center;
    border: 1px;
    border-radius: 9px;  
    /*text-decoration:ivory none inherit ;*/
    }

.secondblock {
    background-color:white ;
    border-radius: 5px;
    height: 200px;
    border: 1px;
    width: 1300px;
    grid: 1fr 1fr;
    display: flex;   
    border: 1px solid lightgrey;
    }

.grid1 {
    display: flex;
    }

.grid1a {
    margin-right: 40px;
    margin-left: 40px;
    }

.grid2 {
    padding: 10px 10px;
    margin-left: 300px;
    line-height: 19px;
    margin-top: 2px;
    }

.label {
    font-size: 1rem;
    }

    /* second part of body */
.secondsection {
    width: 700px;
    margin: 5px;
    padding: 5px 5px;
    display: flex;
    border-radius: 5px;
    }

.sgrid1{
    border: 1px solid grey;
    display: left;
    border-radius: 5px;
    margin: 10px 10px;
}
.gridcontainer1 {
    grid: 1fr 1fr;
    /*display: flex;*/
    margin-left: 10px;
    margin-right: 10px;
    width: 600px;
    float: left;
}

.sgrid1a {
    margin-top: 15px;
    float: left;
    width: 100px;
}   

.sgrid1b {
    float: right;
    width: 400px;
}

.sgrid2{
    border: 1px solid grey;
    display: left;
    margin: 10px 10px;
    border-radius: 5px;
}
.gridcontainer2 {
    grid: 1fr 1fr;
    margin-left: 10px;
    margin-right: 10px;
    width: 600px;
    float: left;
    }

.sgrid2a {
    margin-top: 15px;
    float: left;
    width: 100px;
    grid-column-gap: 5px;
}   

.sgrid2b {
    float: right;
    width: 400px;
}
.lowercase {
    background-color:white ;
    border-radius: 5px;
    height: 200px;
    margin: 25px;
    padding: 5px 5px;
    border: 1px;
    width: 1250px;
    grid: 1fr 1fr;
    display: flex;   
    border: 1px solid lightgrey;
}
.lgrid1 {
    width: 600px;
    float: left;
    margin-right: 20px;
    margin-left: 20px;
    padding: 5px;
}
.lgrid2 {
    width: 550px;
    float: right;
    padding: 10px 10px;
    line-height: 19px;
    margin-top: 2px;
}
.lgrid2c {
    grid: 1fr 1fr;
    display: flex;
}
.intcol1 {
    margin-right: 10px;
    float: left;
    }
.intcol2 {
    margin-left: 75px;
    float: right;
    
    
}
